@import "fonts";


//colors
$black: #182655;
$blackLigter: #9BA1B5;
$gray: #676767;
$grayLight: #7E7E7E;
$green: #28B759;
$blue: #4F63FF;
$pink: #FF005C;


//fonts
$AvenirNormal:  "Avenir Book", sans-serif;
$Avenir500: "Avenir Medium", sans-serif;
$Avenir800: "Avenir Black", sans-serif;

